.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    z-index: -1;
    background: linear-gradient(180deg, #0c0c1d,#111132);
    .wrapper{
        max-width: 1050px;
        height: 100%;
        margin: auto;
        .textcontainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

        }
        h2{
            font-size: 30px;
            color: rebeccapurple;
            letter-spacing: 10px;
        }
        h1{
            font-size:60px ;
            letter-spacing: 2px;

        }
        .buttons{
            cursor: pointer;
            
            button{
    
                padding: 20px;
                border: 2px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                margin-left: 20px;
                font-weight: 300;
               
               
        
            }


        }
    }
    .imgcontainer{
      
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .slidingtextcontainer{
        font-size: 50vh;
        position: absolute;
        bottom: 120px;
        white-space:nowrap;
        color: #ffffff09;
        width: 50%;
    }

}