.sidebar{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 1;
   
   
   .bg{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    background: #8B8A91;
    .link{
        position: absolute;
        color:#000000;
        font:bold;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
    
    }
   
   }
  button{
    position:fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border :none;
    cursor: pointer;

    .iconbutton{
       height: 30px;
       width: 30px;
    }

   }
   
   
}